<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  @!component("_common-head", {router})
</head>

<body>
  @include('_breakpoint-detector')
  <main>
    <div class="container mt-4 mb-2 d-flex justify-content-center">
      @!component("_nav-path", {router, title, pathParts})
    </div>

    {{{ await $slots.main() }}}
  </main>
</body>

</html>