<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <div class="breakpoints">
      <div id="" class="d-none d-sm-block"></div>
      <div id="" class="d-none d-md-block"></div>
      <div id="" class="d-none d-lg-block"></div>
      <div id="" class="d-none d-xl-block"></div>
      <div id="" class="d-none d-xxl-block"></div>
    </div>
    @!component("_nav-path", {pathParts})
    <main>
      {{{ await $slots.main() }}}
    </main>
  </body>
</html>
