<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  @!component("_common-head", {router})
</head>

<body>
  <div class="breakpoints">
    <div id="" class="d-none d-sm-block"></div>
    <div id="" class="d-none d-md-block"></div>
    <div id="" class="d-none d-lg-block"></div>
    <div id="" class="d-none d-xl-block"></div>
    <div id="" class="d-none d-xxl-block"></div>
  </div>

  <main>
    <div class="container mt-4 mb-2 d-flex justify-content-center">
      @!component("_nav-path", {router, title, pathParts})
    </div>

    {{{ await $slots.main() }}}
  </main>
</body>

</html>