<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a up-follow href="">
        {{title}}
      </a>
    </li>
    @each(pp in pathParts)
    <li class="breadcrumb-item">
      {{pp}}
    </li>
    @end
  </ol>
</nav>