<nav aria-label="breadcrumb">
  <ol class="breadcrumb m-0 p-0">
    <li class="breadcrumb-item">
      <a up-follow href="{{router("")}}">
        {{title}}
      </a>
    </li>
    @each(pp in pathParts)
    <li class="breadcrumb-item">
      {{pp}}
    </li>
    @end
  </ol>
</nav>