(defn nav-bar (home-page app-title)
  <nav class="navbar navbar-light bg-light px-3 d-flex justify-content-between">
    <div>
    </div>
    
    <a class="navbar-brand" up-follow href=" home-page ">
      app-title
   </a>
    
    <div>
    </div>
  </nav>

