 (defn  mu/html-page (db key title-gen article content router app-config mangle)
  (html5 router (title-gen ((article :meta) :title)) app-config mangle 
    <div class="container my-4">
       (nav-path router app-config key db) 
      <div class="card">
        <article class="card-body"> 
           content 
        </article>
      </div>
    </div>))
