@component("_blueprint", {router})
<div class="container mt-4 mb-2 d-flex justify-content-center">
  @!component("_nav-path", {title, pathParts})
</div>

<div class="container my-4">
  <div class="card">
    <article class="card-body">
      {{{content}}}
    </article>
  </div>
</div>
@end